<link rel="stylesheet" href="stylesheets/login.css">
<div class="login-container">
    <div id="login-form">
        <h3>Controls: A, D, Mouse</h3>
        <fieldset>
            <form name="loginForm" novalidate>
                <input type="text" placeholder="Username" ng-model="username" required autofocus>
                <input type="text" placeholder="Against" ng-model="opponent" required>
                <div style="text-align:center">
                    <div id="message" style="font-size: 12px;color:#d9534f;"></div>
                    <div id="wait" style="color:#282830;"></div>
                    <button id="randomButton" type="submit" class="btn btn-primary">
                        <i class="fa fa-random"></i>
                        Random
                    </button>
                    <button id="playerButton" type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid">
                        <i class="fa fa-user"></i>
                        Player
                    </button>
                </div>
            </form>
        </fieldset>
    </div>
</div>