<link rel="stylesheet" href="stylesheets/login.css">
<div class="login-container">
    <div id="login-form">
        <h3>I want to play as..</h3>
        <fieldset>
            <form name="loginForm">
                <input type="text" placeholder="Username" ng-model="user.username" required autofocus>
                <div style="text-align:center">
                    <button type="submit" class="btn btn-primary" ng-click="register()" ng-disabled="loginForm.$invalid">
                        <i class="fa fa-random"></i>
                        Random
                    </button>
                    <button type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid">
                        <i class="fa fa-user"></i>
                        Player
                    </button>
                    {{test}}
                </div>
            </form>
        </fieldset>
    </div>
</div>