doctype html
html(lang="en", ng-app="spaceraiders.app")
  head
    title Space Raiders
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="stylesheets/font-awesome.min.css")
    link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
    script(type="text/javascript", src="javascripts/dependencies/jquery-1.12.0.min.js")
    script(type="text/javascript", src="javascripts/dependencies/angular.min.js")
    script(type="text/javascript", src="javascripts/dependencies/angular-ui-router.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="javascripts/CoreController.js")
    script(type="text/javascript", src="javascripts/CoreServices.js")
    script(type="text/javascript", src="javascripts/CoreRoutes.js")
    script(type="text/javascript", src="javascripts/CoreModule.js")

  body(ng-controller="coreController")
    div(class="background")
      #stars
      #stars2
      #stars3
    div(ui-view ng-cloak)