doctype html
html(lang="en")
  head
    title Space Raiders
    link(rel="stylesheet", href="stylesheets/style.css")
    script(type="text/javascript", src="javascripts/jquery-1.12.0.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")

  body
    div(class="background")
      #stars
      #stars2
      #stars3

  img(id="alien", src="images/alien.png")
  img(id="spaceship", src="images/spaceship.png")

script.
  var socket = io();

  /*
  $(document).ready(function(){
    $(window).mousemove(function(event) {

      console.log('X:' + event.pageX);

      console.log('Y:' + event.pageY);

      $("#spaceship").css({"left" : event.pageX - 50, "top" : event.pageY - 70});


    });
  });
  */
